<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Marius/IdeaProjects/MySeleniumProject">

        <parameter name="correctUsername" value="tomsmith"/>
        <parameter name="correctPassword" value="SuperSecretPassword!"/>
        <parameter name="wrongUsername" value="marius"/>
        <parameter name="wrongPassword" value="123456789"/>

        <classes>
            <class name="com.herokuapp.LoginNegativTest">
                <methods>
                    <include name="WrongUsernameCorrectPassword"/>
                    <include name="CorrectUsernameWrongPassword"/>
                    <include name="WrongUsernameWrongPassword"/>
                </methods>
            </class>
            <class name="com.herokuapp.LoginTest">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>